body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(223, 223, 223);
}
main{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 500px;
    box-shadow: 0px 0px 50px rgb(138, 138, 138);
    margin-top: 20px;
}
img{
    max-width: 400px;
    padding: 15px;
    border-radius: 10px;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    width: 400px;
    height: 25px;
    border-radius: 20px;
    padding: 5px;
}
button{
    padding: 10px;
    background-color: rgb(73, 73, 255);
    color: white;
    border-radius: 10px;
    margin-top: 10px;
}